@font-face {
    font-family: whitney;
    src: url(../resources/fonts/whitneybook.otf);
    font-weight: lighter;
}
@font-face {
    font-family: whitney;
    src: url(../resources/fonts/whitneybold.otf);
    font-weight: bold;
}
@font-face {
    font-family: whitney;
    src: url(../resources/fonts/whitneymedium.otf);
}
@font-face {
    font-family: transformers;
    src: url(../resources/fonts/transformers.ttf);
}


.text.list{
    font-family: whitney;
    color: white;
    font-size: 80%;
}

.text.list.description {
    font-weight: bold;
}