/* big containers */
body {
    margin: 0;
}

#page { /*wraps everything */
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column;

}
#container { /* wraps content */
    flex-grow: 1;
    background-color: #363940; /* discord hell: #363940, discord dunkel: #303136, electron: #2B2E3B */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cam, #map {
    height: 40%;
    width: 40%;
}

#data, #gyro, #time {
    height: 40%;
    width: 30%;   
}


.content > * {
    border-radius: 8px;
}



/* map */
#map > * {
    height: 100%;
    width: 100%;
}



/* data- and flip-stuff */

#data .value, #data .merged, #diagram{
    cursor: pointer;
}

#diagram {
    background-color: #303136;
    transform: rotateY(180deg);
}
#data {
    perspective: 2000px;
    position: relative;
}
#value_side, #diagram {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: peserve-3d;
}

#data .values, #data .values ~ * {
    position: absolute;
}

#data .values ~ * {
    z-index: -1;
}

#data .values ~ * > *{
    transition: border-radius 0.4s, height 0.2s;
}