/* big containers */
body {
    margin: 0;
}

#page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column;

}
#container { /*wraps content*/
    flex-grow: 1;
    background-color: #363940; /* discord hell: #363940, discord dunkel: #303136, electron: #2B2E3B */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cam, #map {
    height: 40%;
    width: 40%;
}

#data, #gyro, #time {
    height: 40%;
    width: 30%;   
}

#time {
    background-color: #303136;
}

.content > * {
    border-radius: 8px;
}



/* map */
#map > * {
    height: 100%;
    width: 100%;
}



/* data */
#value_side {
    width: 100%;
    height: 100%;
    position: relative;
}

.value_wrapper, #values ~ * > *{
    width: 100%;
    height: 17%;
    background-color: #303136;
    border-radius: 8px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}


.description {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #bfbfbf;

}
.merged{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.value {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* flip-stuff */
#diagram {
    background-color: #303136;
    transform: rotateY(180deg);
    cursor: pointer;
}
#data {
    perspective: 2000px;
}
#value_side, #diagram {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: peserve-3d;
}

#values, #values ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;

}

#values ~ * {
    z-index: -1;
}

#values ~ * > *{
    transition: border-radius 0.4s, height 0.2s;
}


/* inside/outside icons */

.icon_box{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    
}

.icon_box_box{
    width:20%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.inside{
    height:30%;
    width: 100%;
}

.outside{
    height:25.5%;
    width: 100%;
}




