body {
    margin: 0;
}




/*fonts, text*/

@font-face {
    font-family: whitney;
    src: url(../resources/fonts/whitneybook.otf);
    font-weight: lighter;
}
@font-face {
    font-family: whitney;
    src: url(../resources/fonts/whitneybold.otf);
    font-weight: bold;
}
@font-face {
    font-family: whitney;
    src: url(../resources/fonts/whitneymedium.otf);
}


#expanse .description_text {
    text-align: center;
}
.value_text, .icon_box a, .description_text{
    font-family: whitney;
    color: white;
}

.description_text{
    font-weight: bold;
}

@media only screen and (max-width: 1550px) {
}

/* big containers */

#container { /*wraps everything*/
    background-color: #363940; /* discord hell: #363940, discord dunkel: #303136, electron: #2B2E3B */
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.content {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

#cam, #map {
    height: 40%;
    width: 40%;
}

#data, #gyro, #time {
    height: 40%;
    width: 30%;   
}

#time {
    background-color: #303136;
}

#gyro > *, #cam > img, .content:not(#cam):not(#data) {
    border-radius: 8px;
}




/* center cam */

#cam{
    justify-content: center;
    align-content: center;
}




/* datalist */

.value_wrapper {
    width: 100%;
    height: 17%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    background-color: #303136;
    border-radius: 8px;
}
.description {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.merged{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.value {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* inside/outside icons */

.icon_box{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    
}

.icon_box_box{
    width:20%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.inside{
    height:30%;
    width: 100%;
}

.outside{
    height:25.5%;
    width: 100%;
}